<div class="clr"></div>

<div id="wrapp">
	<!--<%= image_tag("velika_pljeskavica.jpg", :class=>"thumb") %>
		<%= image_tag("gurmanska.jpg", :class=>"thumb") %>
		<%= image_tag("punjena.jpg", :class=>"thumb") %>
		<%= image_tag("slatke-palacinke.jpg", :class=>"thumb") %>
		<%= image_tag("slane.jpg", :class=>"thumb") %>
		<%= image_tag("ultra.jpg", :class=>"thumb") %>
		<%= image_tag("super.jpg", :class=>"thumb") %>
		<%= image_tag("capricoza.jpg", :class=>"thumb") %>
		<%= image_tag("margarita.jpg", :class=>"thumb") %>
		<%= image_tag("hotdog.jpg", :class=>"thumb") %>
		<%= image_tag("hotdog.jpg", :class=>"thumb") %>
		<%= image_tag("hotdog.jpg", :class=>"thumb") %>-->

	<div id="border1">
		<div class="thumb" id="slika1">	<div class="kais" style="background-color: rgb(234, 39, 39);">
			<p>Velika pljeskavica</p>
		</div> </div>
		<div class="thumb" id="slika2"> <div class="kais" style="background-color: rgb(234, 39, 39);">
			<p>Gurmanska pljeskavica</p>
		</div></div>
		<div class="thumb" id="slika3"> <div class="kais" style="background-color: rgb(234, 39, 39);">
		<p>Punjena pljeskavica</p>
		</div></div>
	</div>
	<div id="border3">
		<div class="thumb" id="slika4"> <div class="kais" style="background-color: rgb(234, 39, 39);">
		<p>Slatke palacinke</p>
		</div></div>
		<div class="thumb" id="slika5"> <div class="kais" style="background-color: rgb(234, 39, 39);">
		<p>Slane palacinke</p>
		</div></div>
		<div class="thumb" id="slika6"> <div class="kais" style="background-color: rgb(234, 39, 39);">
		<p>Ultracinka</p>
		</div></div>
	</div>
	<div class="clr"></div>
	<div id="border4">
		<div class="thumb" id="slika7"> <div class="kais" style="background-color: rgb(234, 39, 39);">
		<p><span>Pizza</span> supersuprem</p>
		</div></div>
		<div class="thumb" id="slika8"> <div class="kais" style="background-color: rgb(234, 39, 39);">
		<p><span>Pizza</span> capricciosa</p>
		</div></div>
		<div class="thumb" id="slika9"> <div class="kais" style="background-color: rgb(234, 39, 39);">
		<p><span>Pizza</span> margherita</p>
		</div></div>
	</div>
	<div id="border2">
		<div class="thumb" id="slika10"> <div class="kais" style="background-color: rgb(234, 39, 39);">
		<p>Hot dog</p>
		</div></div>
		<div class="thumb" id="slika11"> <div class="kais" style="background-color: rgb(234, 39, 39);">
		<p>Hot dog</p>
		</div></div>
		<div class="thumb" id="slika12"> <div class="kais" style="background-color: rgb(234, 39, 39);">
		<p>Hot dog</p>
		</div></div>
	</div>


	</div>

	<div class="a2">
		
	</div id="stefan">
	<div>
		
	</div>
	<div>
		
	</div>