<!DOCTYPE html>
<html>
  <head>
    <title>FastFood</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="prevlaka">
  		
		
	<%= render "layouts/header" %>

    <div class="yield">	

    	<%= yield %>

	</div>

    <%= render "layouts/footer"	%>


  	</div>
	 	


  </body>
</html>
